{% extends 'base.html' %}
{% block title %}
    Applicants
{% endblock %}
{% load static %}

{% block content %}

    <section class="bg-light-gray py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h1 class="display-4">All Applicants</h1>
                    <p class="lead">List of applicants who applied for your position</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                {% for applicant in applicants %}
                    <div class="col-lg-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ applicant.user.get_full_name }}</h4>
                                <p class="card-text"><strong>Applied position:</strong> {{ applicant.job.title }}</p>
                                <p class="card-text">
                                    <span class="badge badge-info">Applied {{ applicant.created_at.astimezone }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}"
                                           class="page-link">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}"
                                           class="page-link">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">No more applicants to show.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
