<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <h2>User Information</h2>
    <p><strong>Name:</strong> {{ applicant.user.get_full_name }}</p>
    <p><strong>Email:</strong> {{ applicant.user.email }}</p>
    
    <h2>Job Details</h2>
    <p><strong>Title:</strong> {{ applicant.job.title }}</p>
    <p><strong>Description:</strong> {{ applicant.job.description }}</p>
    <p><strong>Location:</strong> {{ applicant.job.location }}</p>
    <p><strong>Type:</strong> {{ applicant.job.get_type_display }}</p>
    <p><strong>Category:</strong> {{ applicant.job.category }}</p>
    <p><strong>Last Date:</strong> {{ applicant.job.last_date }}</p>
    <p><strong>Company Name:</strong> {{ applicant.job.company_name }}</p>
    <p><strong>Company Description:</strong> {{ applicant.job.company_description }}</p>
    <p><strong>Website:</strong> {{ applicant.job.website }}</p>
    
    <h2>Application Date</h2>
    <p><strong>Created At:</strong> {{ applicant.created_at }}</p>

</body>
</html>